spring:
  application:
    name: vibeapp
  thymeleaf:
    cache: false
  datasource:
    url: jdbc:h2:file:./data/testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations:   # 빈 값으로 설정하여 data.sql 자동 실행 비활성화

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.springframework.boot.autoconfigure: debug
  file:
    name: ./logs/app.log

server:
  port: 8080
